.cache/
.objs/
MakefileProjectWithExistingCode.cbplugin
MakefileProjectWithExistingCode.depend
MakefileProjectWithExistingCode.layout
MakefileProjectWithExistingCode.so
MakefileProjectWithExistingCode.zip
compile_commands.json
libMakefileProjectWithExistingCode.so
MakefileProjectWithExistingCode_Linux.depend
MakefileProjectWithExistingCode_Windows_wx32_64.depend
